body {
    font-family: Helvetica; 
}

div {
    font-style: italic;
}

h1 , h3 {
    text-align: center;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow : hidden;
    background-color: #333;
}

li {
    float: left;
    padding: 20px 10px;
    text-align: center;
    color: white;
}

button {
    text-align: center;
    padding: 10px;
    margin: 20px;
    width: 200px;
    border: none;
    display: inline-block;
    background-color: #e7e7e7;
}

    button :hover {
        color: #ff6a00;
    }

#button_list_1 {
    float : left;
    padding-left : 300px;
}

#button_list_2 {
    float: right;
    padding-right: 300px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}